<div class="row">
  <div class="section">
    <h2>Submit Rake Task</h2>
    <h4>Task: <%= @rake_task.name_with_args %></h4>

    <% if @rake_task.full_comment %>
      <p>Comments: <%= @rake_task.full_comment %></p>
    <% end %>

    <hr />

    <p data-rake-form-error style="color: red">

    </p>

    <%= form_with url: rake_task_execute_path(@rake_task.id), method: :post, class: 'full-width-forms', data: {"rake-form": true} do |f| %>
      <label>
        Rake Arguments
        <%= f.text_field :args, placeholder: "eg: -- --arg1=\"arg\"" %>
      </label>

      <br />

      <%= f.submit "Submit", class: "btn solid blue" %>
    <% end %>
  </div>
</div>
